@model LigaWeb.Data.Entities.User

<h2>Delete User</h2>

<p>Are you sure you want to delete @Model.FullName?</p>

<form asp-action="DeleteConfirmed" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
